.{
	margin: 0px;
	padding: 0px;
}


#header{
	margin: -8px -8px 0px -8px;
	border-bottom: 1px solid black;
}
#header h1{
	margin: 0px;
	margin-left: 15px;
}
#links{
	text-align: right;
}
a{
	padding-left: 5px;
	padding-right: 5px;
}

.elements{
	display: block;
	width: 1000px;
	font-family: "Palatino";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	vertical-align: top;
}

.post{
	display: inline-block;
	font-family: "Palatino";
	margin: 5px;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

.pages{
	padding: 5px;
	margin-top: 5px;
	font-family: "Palatino";
	display: inline-block;
}
